
body {
    background-color: #cef0f4;
    margin:0;
    text-align: center;
    font-family: 'Original Surfer', cursive;


}
h1{
  color:#007d9c;
  font-size: 4.125rem;
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Satisfy', cursive;
}
h2{
  color:#007d9c;

}
h3{
  color:#007d9c;

}


.subtitel{
  font-size: 2rem;
}
p{
  margin: 0;
  margin-bottom: 5px;
}
.shape1 {
  background-color:#a6e3e9;
}
.top-cloud{
  position: relative;
  left: 150px;
  padding-top: 50PX;
}
.bottom-cloud{
  position: absolute;
  left: 500px;
}

.my-image{
  height: 350px;
  width: 290px;
}
.fiverr{
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  padding: 10px;
}








.footer{

  font-family: 'Roboto', sans-serif;
  font-size:12px;
  background-color:#364f6b;
  padding:20px;
}
.footer_c{
  color: white;
}
