
body {
    background-color: #cef0f4;
    margin:0;
    text-align: center;
    font-family: 'Original Surfer', cursive;
}

hr{
  border-top: 10px dotted;
  width:45px;
  color: #3d84a8;

}
h1{
  color:#007d9c;
  font-size: 4.125rem;
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Satisfy', cursive;
}
h2{
  color:#007d9c;

}
h3{
  color:#007d9c;

}

.mehedi{
  padding: 30px;
}
a{
  text-decoration: none;
  color: blue;
}

.subtitel{
  font-size: 2rem;
}
p{
  color:#016b84;
  font-weight: normal;
  margin: 0;
  margin-bottom: 5px;
}
.shape1 {
  background-color:#a6e3e9;
}
.top-cloud{
  position: relative;
  left: 150px;
  padding-top: 50PX;}

.bottom-cloud {
  position: absolute;
  left: 500px;
}

.my-image{
  border-radius: 50%;
  height: 350px;
  width: 290px;
}
.fiverr{
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  padding: 10px;
}
.contact{
  padding: 50px;
}
.contact-me{
  color:white;
}
.contact-button{

  background-color: #10b3d6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bio{text-align: left;
  padding:45px;
  margin: 100 auto 100 auto;
  line-height:2;

}
.study-status{
    margin: 15%;
    margin-left: 35.5%;
    margin-right: 22px;
    width: 50%;
    height: auto;
    line-height: 2;

}


.work-exprience{

  font-size: 20px;
  color: #116479;
  text-align: left;
  margin: auto;
  width: 50%;
  margin-left: 35%;


}


.study{
  text-align: left;
  margin:auto;
  padding: 0;
  margin-left: 10%;

  width: 65%;
  height: auto;

}
.graduate_hat{
  width:45%;
  margin: 0;
  padding:0;
  margin-top: 40px;
  float: left;
  clear: right;
}
.list{


  font-size: 20px;
  color: #116479;
  text-align: left;
  margin: auto;


}

.work-exprience{
  padding: 30px;
}

.my_skills_and_hobbies{
  padding: 30px;
}
.my-skills{
  background-color: #10b3d6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.footer{

  font-family: 'Roboto', sans-serif;
  font-size:10px;
  background-color:#364f6b;
  padding:30px;

}
.social-media{
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  font-weight: bold;
  background-color:#364f6b;
  padding:20px;
  color: white;
  margin: 30px;
}
.footer_c{
  color: white;
  margin:auto;
  padding: 1%;
  line-height: 1;
  margin-top: 27px;
}
