
body {
    background-color: #cef0f4;
    margin:0;
    text-align: center;
    font-family: 'Original Surfer', cursive;
}

hr{
  border-top: 10px dotted;
  width:45px;
  color: #3d84a8;

}
h1{
  color:#007d9c;
  font-size: 4.125rem;
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Satisfy', cursive;
}
h2{
  color:#007d9c;

}
h3{
  color:#007d9c;

}

.mehedi{
  padding: 30px;
}
a{
  text-decoration: none;
  color: blue;
}

.subtitel{
  font-size: 2rem;
}
p{
  color:#016b84;
  font-weight: normal;
  margin: 0;
  margin-bottom: 5px;
}
.shape1 {
  background-color:#a6e3e9;
}
.top-cloud{
  position: relative;
  left: 150px;
  padding-top: 50PX;
}
.bottom-cloud{
  position: absolute;
  left: 500px;
}

.my-image{
  height: 350px;
  width: 290px;
}
.fiverr{
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  padding: 10px;
}
.contact{
  padding: 50px;
}

.bio{
  text-align: left;
  padding:45px;
  margin: 100 auto 100 auto;
  line-height:2;

}
.study-status{
  padding:30px;
}

.work-exprience{
  padding: 30px;
}

.my_skills_and_hobbies{
  padding: 30px;
}







.footer{

  font-family: 'Roboto', sans-serif;
  font-size:12px;
  background-color:#364f6b;
  padding:20px;
}
.footer_c{
  color: white;
}
